@use "variables" as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin container {
    width: min(100% - 2rem, $container-width);
    margin-inline: auto;
}